/**
 * blog.css
 */

#blog-posts a {
  color: #FFFFFF;
}

#blog-posts img {
  margin: 0 10px;
}

#blog-posts a:hover,
#blog-posts a:focus {
  text-decoration: none;
  color: #CCCCCC
}

#blog-posts .post-title h4 {
  font-family: Lora,'Times New Roman',serif;
  font-weight: 300;
  font-size: 1.3em;
}

#blog-posts .post-meta {
  font-size: 1.0em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 40px;
  color: #CCCCCC;
}

#blog-posts .post-meta a {
  text-decoration: none;
  color: #FFFFFF;
}

#blog-posts .post-meta a:hover,
#blog-posts .post-meta a:focus {
  color:#CCCCCC;
  text-decoration:underline;
}

#blog-posts .post-body {

}

#blog-posts .post-body img {
  height: 128px;
  width: 128px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 20px auto;
}

#blog-posts hr {
  max-width: 720px;
  border-color: #CCCCCC;
  margin-top: 40px;
}

@media only screen and (min-width:768px) {
  #blog-posts .post-title {
    font-size:36px;
  }
}
