/*
  Gravatar form
  - Display as table-cell
 */


.gravatar-form {
  display: table;
}

.gravatar-form > a {
  display: table-cell;
  padding-left: 5px;
}

.gravatarLink,
.gravatarLink img {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}

.gravatarLink:before {
  display: inline-block;
  content:'';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
}
