<div class="card content_card">


  <div class="card-block">
    <header>
      <img class="masa-photo" src="images/masa_chinatown.png" alt="masatoshi">
      <h5>
        Masatoshi Nishiguchi
        <div class="social_links">
          <a href="" target="_blank" class="icon_link"><i class="fa fa-twitter"></i></a>
          <a href="" target="_blank" class="icon_link"><i class="fa fa-github"></i></a>
        </div>
      </h5>
    </header>
  </div>

  <div class="card-block">

    <h4 class="card-title">
    </h4>

    <p class="card-text">
      I am Masatoshi Nishiguchi - an aspiring programmer, who is currently
      passionate about building web and mobile applications. I love coding.
      <br /><br />
      I am originally from Japan, currently live in Washington, DC, United States.
      <br /><br />
      In college in Japan, I majored in Linguistics, was particularly interested in Syntax.
      There, I acquired the ability of analysing things systematically as well as
      learning how to speak English language profesionally. Later, I learned
      counseling/psychotherapy because then I believed that was how I could
      contribute to the society.
      <br /><br />
      As a profession, I ended up being a sales person of industrial machinary,
      where I learned a variety of things such as some mechanical engineering,
      and customer service as well as the sales techniques.
      <br /><br />
      So how did I start coding? In 2014, I met a professional programmer at a gym.
      And he told me how coding was fun and talked me into it.
      Now I am really into it.
    </p>

  </div>
</div>
