<!--
  Filename: content-4.html
-->

<div class="container page" id="blog">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
              RUBY ON RAILS
          </h2>
          <h3 class="post-subtitle">
            オープンソースのWebアプリケーションフレームワークである。RoRまたは単にRailsと呼ばれる。
            その名にも示されているようにRubyで書かれている。
            またModel View Controller（MVC）アーキテクチャに基づいて構築されている。
          </h3>
        </a>
        <p class="post-meta">
          Posted by <a href="#">Masatoshi Nishiguchi</a>
          on November 27, 2015
        </p>
      </div>

      <!-- YouTube videos -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          width="560" height="315"
          src="https://www.youtube.com/embed/zrOf4lXzF4E"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </div>

    </div><!-- end col-* -->
  </div><!-- end row -->

  <hr>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
              Ruby（ルビー）
          </h2>
          <h3 class="post-subtitle">
              まつもとゆきひろ（通称 Matz）により開発されたオブジェクト指向スクリプト言語であり、
              スクリプト言語が用いられてきた領域でのオブジェクト指向プログラミングを実現する。
          </h3>
        </a>
        <p class="post-meta">
          Posted by <a href="#">Masatoshi Nishiguchi</a>
          on November 27, 2015
        </p>
      </div>

    </div><!-- end col-* -->
  </div><!-- end row -->

  <hr>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
              俳句（はいく）
          </h2>
          <h3 class="post-subtitle">
              五・七・五の十七音から成る日本語の定型詩である。
          </h3>
        </a>
        <p class="post-meta">
          Posted by <a href="#">Masatoshi Nishiguchi</a>
          on November 27, 2015
        </p>
      </div>

    </div><!-- end col-* -->
  </div><!-- end row -->

</div><!-- end container -->
