<!--
  Filename: content-3.html
-->

<div class="container page">

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">

      <h1>My tools</h1>

      <!-- Table -->

      <table class="table">
        <tbody>
          <tr>
            <td><b>Machine</b></td>
            <td>MacBook Air</td>
          </tr>
          <tr>
            <td><b>Tools</b></td>
            <td>iTerm, Sublime Text, Android Studio, NetBeans, Xcode, Vim</td>
          </tr>
          <tr>
            <td><b>Languages</b></td>
            <td>Ruby on Rails, Java (Android), JavaScript, CoffeeScript, jQuery,
                AngularJS, ReactJS, Python, C/C++ and Japanese</td>
          </tr>
          <tr>
            <td><b>Others</b></td>
            <td>Git, Linux, Heroku, SQLite, PostgreSQL</td>
          </tr>
        </tbody>
      </table>

    </div><!-- end col-* -->
  </div><!-- end row -->

</div><!-- end container -->
