<!--
  Filename: header.html
-->

<nav
  class="navbar navbar-light bg-faded top-navbar"
  ng-click="vm.changeBackgroundColor()"
  ng-style="vm.css">

  <a
    href="http://www.gravatar.com"
    class="navbar-brand gravatarLink">

    <gravatar
      email="'NISHIGUCHI.MASA@GMAIL.COM'"
      size="36">
    </gravatar>
  </a>

  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link logo"
        href="#">
        Masatoshi Nishiguchi
      </a>
    </li>
  </ul>

  <form novalidate
    class="form-inline navbar-form pull-right">

    <gravatar-form></gravatar-form>
  </form>

</nav>

<div class="clearfix"></div>
