<section>

  <!--Navigation (Tabs)-->
  <nav class="">
    <ul class="nav nav-pills">

      <li
        ng-class="{ active:vm.isSet(1) }"
        class="nav-item">
        <a
          href=""
          ng-click="vm.setTab(1)"
          class="nav-link">
          Home
        </a>
      </li>

      <li
        ng-class="{ active:vm.isSet(2) }"
        class="nav-item">
        <a
          href=""
          ng-click="vm.setTab(2)"
          class="nav-link">
          About
        </a>
      </li>

      <li
        ng-class="{ active:vm.isSet(3) }"
        class="nav-item">
        <a
          href=""
          ng-click="vm.setTab(3)"
          class="nav-link">
          Tools
        </a>
      </li>

      <li
        ng-class="{ active:vm.isSet(4) }"
        class="nav-item">
        <a
          href=""
          ng-click="vm.setTab(4)"
          class="nav-link">
          Languages
        </a>
      </li>

      <li
        ng-class="{ active:vm.isSet(5) }"
        class="nav-item">
        <a
          href=""
          ng-click="vm.setTab(5)"
          class="nav-link">
          Resume
        </a>
      </li>

      <li
        ng-class="{ active:vm.isSet(6) }"
        class="nav-item">
        <a
          href=""
          ng-click="vm.setTab(6)"
          class="nav-link">
          Others
        </a>
      </li>

    </ul>
  </nav>

  <div class="clearfix"></div>


  <!--Page content-->
  <div class="card">
    <div class="card-block">

      <div ng-show="vm.isSet(1)" class="panel-body">
        <div ng-include src="'/views/content-1.html'"></div>
      </div>

      <div ng-show="vm.isSet(2)" class="panel-body">
        <div ng-include src="'/views/content-2.html'"></div>
      </div>

      <div ng-show="vm.isSet(3)" class="panel-body">
        <div ng-include src="'/views/content-3.html'"></div>
      </div>

      <div ng-show="vm.isSet(4)" class="panel-body">
        <div ng-include src="'/views/content-4.html'"></div>
      </div>

      <div ng-show="vm.isSet(5)" class="panel-body">
        <div ng-include src="'/views/content-5.html'"></div>
      </div>

      <div ng-show="vm.isSet(6)" class="panel-body">
        <div ng-include src="'/views/content-6.html'"></div>
      </div>

    </div>
  </div>
</section>
