<section>

  <!--Navigation (Tabs)-->

  <ul class="nav nav-tabs">

    <li
      ng-repeat="n in [0, 1, 2, 3, 4, 5]"
      class="nav-item">
      <a
        href=""
        ng-click="vm.setTab(n)"
        ng-class="{ active:vm.isSet(n) }"
        class="nav-link">
        {{ vm.tabNames[ n ] }}
      </a>
    </li>

  </ul>

  <div class="clearfix"></div>


  <!--Page content-->

  <div class="page-content">

    <div
      ng-repeat="n in [0, 1, 2, 3, 4, 5]"
      ng-show="vm.isSet(n)">
      <div
        ng-include src="vm.contentUrls[ n ]">
      </div>
    </div>

  </div>

</section>
