<!--
Template for tabbableFrame directive
==
The tabbableContentPane directive is required as a child.
 -->

<div class="tabbable">

  <!-- Navigation bar (Tabs) -->
  <nav class="navbar navbar-inverse navbar-static-top">
    <a href="#" class="navbar-brand"></a>

    <ul class="nav nav-pills">
      <li
        ng-repeat="pane in vm.panes"
        ng-class="{ active:pane.selected }"
        class="nav-item">

        <a ng-click="vm.updateSelection(pane)" class="nav-link" href="">
          {{ pane.title }}
        </a>

      </li>

    </ul>
  </nav>


  <!-- Selected content -->
  <div class="tab-content" ng-transclude>
  </div>

</div>
