<!--
  MovieInfo
  - View template for the movieSearch directive.
  - Show movie info if data is available.
-->


<p ng-hide="vm.isDataAvailable" class="no-info">
  No information to display.
</p>

<div ng-show="vm.isDataAvailable">

  <a
    href="http://imdb.com/title/{{ props.info.imdbID }}"
    target="_blank">
    <img
      ng-src="{{ vm.getMoviePosterUrl() }}"
      class="movie-poster"
      style="width: 200px;">
  </a>

  <h2
    class="movie-title"
    style="margin-top: 20px;" >
    {{ props.info.Title }}
    <small>({{ props.info.Year }})</small>

    <!-- Link buttons -->
    <a
      ng-href="{{ vm.getYouTubeUrl() }}"
      target="_blank" >
      <i class="fa fa-youtube"></i>
    </a>

    <a
      ng-href="{{ vm.getAmazonUrl() }}"
      target="_blank" >
      <i class="fa fa-amazon"></i>
    </a>
  </h2>

  <p>
    <strong>Released on:</strong>
    {{ props.info.Released }} ({{ props.info.Runtime }})
  </p>

  <p>
    {{ props.info.Plot }}
  </p>

  <!-- Description list -->
  <div class="container">
    <dl class="dl-horizontal ">
      <dt class="col-sm-3">
        <span class="label label-primary">Directors</span>
      </dt>
      <dd class="col-sm-9">
        {{ props.info.Director }}
      </dd>

      <dt class="col-sm-3">
        <span class="label label-primary">Actors</span>
      </dt>
      <dd class="col-sm-9">
        {{ props.info.Actors }}
      </dd>

      <dt class="col-sm-3">
        <span class="label label-primary">Genre</span>
      </dt>
      <dd class="col-sm-9">
        {{ props.info.Genre }}
      </dd>
    </dl>
  </div>

</div>
