<!--
  panel_1
-->

<div class="container page" id="index-author">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

    <header>

      <!-- A profile picture with a image map -->
      <img
        src="assets/images/masa_chinatown_200x200.jpg"
        alt=""
        class="masatoshi"
        usemap="#profilePhotoMap" />

      <map name="profilePhotoMap" id="profilePhotoMap">

        <area
          alt="A statue at Chinatown in Ottawa, Canada"
          title="A statue at Chinatown in Ottawa, Canada"
          href="http://ottawachinatown.ca/"
          shape="poly"
          coords="21,94,19,23,83,23,82,91,104,114,103,191,1,191,3,113" />

        <area
          alt="Masatoshi at Chinatown in Ottawa, Canada"
          title="Masatoshi at Chinatown in Ottawa, Canada"
          href="https://github.com/mnishiguchi"
          shape="poly"
          coords="125,35,129,68,84,90,114,115,118,194,177,193,183,84,157,70,157,35" />

      </map>

      <h3>
        Masatoshi Nishiguchi
      </h3>

      <div class="social_links">
        <a
          href="https://twitter.com/MNishiguchiDC"
          target="_blank"
          class="icon_link">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a
          href="http://qiita.com/mnishiguchi"
          target="_blank">
          <img
            src="assets/images/ic_qiita2_32x32.png"
            alt=""
            class="qiita"
            height="28" width="28"
            style="margin-bottom: 14px; margin-left: 5px; margin-right: 5px;">
        </a>
        <a
          href="https://github.com/mnishiguchi"
          target="_blank"
          class="icon_link">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </div><!-- end social_links -->

    </header>

    <p>
      I am Masatoshi Nishiguchi - an aspiring programmer, who is currently
      passionate about building web and mobile applications. I love coding.
      <br /><br />
      I am originally from Japan, currently live in Washington, DC, United States.
    </p>

    </div>
  </div>

</div>
