<!--
  tabPanel
-->

<section>

  <!--Navigation tabs-->

  <ul class="nav nav-tabs">

    <li
      ng-repeat="index in [ 0, 1, 2, 3, 4, 5 ]"
      class="nav-item">
      <a
        href=""
        ng-click="tabPanel.setTab( index ) ; tabPanel.setTitle( index )"
        ng-class="{ active: tabPanel.isSet( index ) }"
        class="nav-link">
        {{ tabPanel.tabNames[ index ] }}
      </a>
    </li>

  </ul>

  <div class="clearfix"></div>


  <!--Page content-->

  <div class="page-content">

    <div
      ng-repeat="index in [ 0, 1, 2, 3, 4, 5 ]"
      ng-show="tabPanel.isSet( index )">
      <div ng-include src="tabPanel.contentUrls[ index ]"></div>
    </div>

  </div>

</section>
