    <div ng-repeat="n in [ 1,2,3,4,5 ]" class="stars">
      &nbsp;
      <i ng-if="n <= vm.stars"    class="fa fa-star"></i>
      <i ng-if="!(n <= vm.stars)" class="fa fa-star-o"></i>
    </div>

    <div class="plus_minus">
      &nbsp;
      <a href="">
        <i class="fa fa-minus fa-fw" ng-click="vm.decrementStar();"></i>
      </a>
      <a href="">
        <i class="fa fa-plus fa-fw" ng-click="vm.incrementStar();"></i>
      </a>
    </div>
    <div class="star_count">
      &nbsp;( {{ vm.stars }} )
    </div>
