<!--
  Filename: acronym-search.html
-->

<!-- Search bar -->
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input type="text"
        ng-model="vm.searchKey"
        ng-model-options="{ updateOn: 'blur' }"
        ng-change="vm.fetchData()"
        class="form-control"
        placeholder="Enter acronym">
      <div class="input-group-addon">
        <a href=""><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
</form>

<!-- Loading indicator -->
<div
  ng-if="vm.loading">
  <i class="fa fa-spinner fa-spin"></i>
  Loading results...
</div>

<!-- acronym info -->
<div ng-if="vm.acronymInfo === []">

  <!-- Description list -->
  <div class="container">
    <dl
      ng-repeat="item in vm.acronymInfo"
      class="dl-horizontal ">

      <dt class="col-sm-3">
        <span class="label label-primary">LF</span>
      </dt>
      <dd class="col-sm-9">
        {{ item.lf }}
      </dd>

      <dt class="col-sm-3">
        <span class="label label-primary">FREQ</span>
      </dt>
      <dd class="col-sm-9">
        {{ item.freq }}
      </dd>

      <dt class="col-sm-3">
        <span class="label label-primary">SINCE</span>
      </dt>
      <dd class="col-sm-9">
        {{ item.since }}
      </dd>
    </dl>
  </div>

</div>

<!--
    data[ 0 ].sf
    data[ 0 ].lfs[ i ].lf
    data[ 0 ].lfs[ i ].freq
    data[ 0 ].lfs[ i ].since
    data[ 0 ].lfs[ i ].vars.[ j ].lf
    data[ 0 ].lfs[ i ].vars.[ j ].freq
    data[ 0 ].lfs[ i ].vars.[ j ].since
-->
