<!--
  Filename: content-3.html
-->

<div class="container page" id="index-tools">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <h1>What I've learned</h1>

      <p>
        These are some of the development tools that I currently use and
        programming languages that I have learned.
        I am so thankful to generous experienced coders that share with us
        all the precious tutorial and resources.
      </p>

      <!-- Table - tools -->
      <table class="table">
        <thead>
          <tr>
            <th
              colspan="2"
              class="text-center">
              My current tools
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><b>Machine</b></td>
            <td>MacBook Air</td>
          </tr>
          <tr>
            <td><b>Tools</b></td>
            <td>
              iTerm, Sublime Text, Android Studio, NetBeans, Xcode, Vim
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Table - languages -->
      <table class="table">
        <thead>
          <tr>
            <th
              class="text-center">
              Languages
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              Ruby on Rails, HTML, CSS, JavaScript, CoffeeScript, jQuery,
              AngularJS, ReactJS, NodeJS, Java (Android), Python, C/C++
            </td>
          </tr>
          <tr>
            <td>Git, Linux, Heroku, SQLite, PostgreSQL</td>
          </tr>
          <tr>
            <td>English, Spanish and Japanese</td>
          </tr>
        </tbody>
      </table>

    </div><!-- end col-* -->
  </div><!-- end row -->

</div><!-- end container -->
