<!--
  Filename: content-5.html
-->

<div class="container page">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <h1>My projects</h1>

      <div class="row">

        <!-- Movie search -->
        <div class="col-lg-6">
          <div class="card">

            <div class="card-block">
              <h4 class="card-title">
                Movie search
              </h4>
              <p class="card-subtitle">
                Coding too much is not a healthy life style. It is great to spend
                fun time watching movies with my wife.
              </p>
            </div>

            <div class="card-block">
              <movie-search></movie-search>
            </div>

          </div><!-- end card -->
        </div><!-- end col -->

        <!-- Moving estimator (Android) -->
        <div class="col-lg-6">
          <div class="card">

            <div class="card-block">
              <h4 class="card-title">
                Moving estimator (Android)
              </h4>

              <p class="card-subtitle">
                One time I was working for an international transportation company.
                I created this application for movers to estimate the total volume
                of their clients.
              </p>
            </div>

            <div class="card-block">
              <a
                href="https://play.google.com/store/apps/details?id=com.mnishiguchi.android.movingestimator"
                class="btn btn-success-outline"
                target="_blank">
                Details
              </a>
            </div>

          </div><!-- end card -->
        </div><!-- end col -->

        <!-- Moving estimator (Web) -->
        <div class="col-lg-6">
          <div class="card">

            <div class="card-block">
              <h4 class="card-title">
                Moving estimator (Web)
              </h4>

              <p class="card-subtitle">
                This is a public web service with which you can create a house move
                project and estimate the volumes for each category or room.
                It will help you discuss your moving with your movers.
              </p>
            </div>

            <div class="card-block">
              <a
                href="https://moving-estimator.herokuapp.com/"
                class="btn btn-success-outline"
                target="_blank">
                Details
              </a>
            </div>

          </div><!-- end card -->
        </div><!-- end col -->

      </div><!-- end row -->








    </div><!-- end col-* -->
  </div><!-- end row -->

</div><!-- end container -->
