<!--
  Filename: content-2.html
-->

<div class="container page">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <h1>About me</h1>

      <p class="text-muted">
        <em>
          I want to take advantage of a broad range of experiences such as
          Linguistics, Counseling, Customer service, Engineering sales, etc that I've had
          before I started coding. I see it as a huge advantage so that I can be
          a resourceful and unique developer.
        </em>
      </p>

      <hr>

      <h2>Linguistics</h2>
      <p>
        In college in Japan, I majored in Linguistics, was particularly interested in Syntax.
        There, I acquired the ability of analysing things systematically as well as
        learning how to professionally speak English language as a second language.
      </p>

      <h2>Counseling</h2>
      <p>
        In my mid-twenties, I learned counseling/psychotherapy in New Zealand.
        At that time, I really wanted to become a counselor to help young people
        with difficulties. I also learned a lot about taking care of myself
        to keep on moving forward whatever obstacles I face.
      </p>

      <h2>Sales and engineering</h2>
      <p>
        After all, I ended up being a sales person of industrial machinary in the
        central Japan. I was promoting
        <a href="http://www.estic.co.jp/en/index.html">high-precision nutrunner systems</a>
        to Japan's auto makers. I aquired not only the sales and customer service skills
        but also some insight into mechanical and software engineering through
        working with clients and inhouse engineers.
      </p>

      <h2>Computer programming</h2>
      <p>
        I moved to the United States in 2011. My wife is American. Just as I was considering
        my future career, I met this professional programmer Nathan at a gym.
        And he told me how coding was fun and recommended that I start practicing it.
        He was absolutely right. It is so much fun to be able to build my own
        application programs. I am really into it.
      </p>

    </div><!-- end col-* -->
  </div><!-- end row -->

</div><!-- end container -->
