<!--
  Filename: content-1.html
-->

<div class="container page" id="index-author">

  <div class="row">
    <div class="col-md-offset-2 col-md-8">

    <header>

      <img src="https://avatars1.githubusercontent.com/u/7563926?v=3&s=200" alt="masatoshi">

      <h3>
        Masatoshi Nishiguchi
      </h3>

      <div class="social_links">
        <a
          href="https://twitter.com/MNishiguchiDC"
          target="_blank"
          class="icon_link">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a
          href="https://github.com/mnishiguchi"
          target="_blank"
          class="icon_link">
        <i class="fa fa-github fa-2x"></i>
        </a>
      </div>

    </header>

    <p>
      I am Masatoshi Nishiguchi - an aspiring programmer, who is currently
      passionate about building web and mobile applications. I love coding.
      <br /><br />
      I am originally from Japan, currently live in Washington, DC, United States.
    </p>

    </div>
  </div>

</div>
