<!-- Movie info -->
<p
  ng-if="props.info.Response !== 'True'"
  class="no-info">
  No information to display.
</p>

<div ng-if="props.info.Response === 'True'">

  <a
    href="http://imdb.com/title/{{ props.info.imdbID }}"
    target="_blank">
    <img
      ng-src="{{ vm.getMoviePosterUrl() }}"
      class="movie-poster">
  </a>

  <h2 class="movie-title">
    {{ props.info.Title }}
    <small>({{ props.info.Year }})</small>
  </h2>

  <p>
    <strong>Released on:</strong>
    {{ props.info.Released }} ({{ props.info.Runtime }})
  </p>

  <p>
    {{ props.info.Plot }}
  </p>

  <!-- Description list -->
  <div class="container">
    <dl class="dl-horizontal ">
      <dt class="col-sm-3">
        <span class="label label-primary">Directors</span>
      </dt>
      <dd class="col-sm-9">
        {{ props.info.Director }}
      </dd>

      <dt class="col-sm-3">
        <span class="label label-primary">Actors</span>
      </dt>
      <dd class="col-sm-9">
        {{ props.info.Actors }}
      </dd>

      <dt class="col-sm-3">
        <span class="label label-primary">Genre</span>
      </dt>
      <dd class="col-sm-9">
        {{ props.info.Genre }}
      </dd>
    </dl>
  </div>

  <!-- Link buttons -->
  <p>
    <a
      ng-href="{{ vm.getYouTubeUrl() }}"
      target="_blank"
      class="btn btn-secondary btn-sm">
      <i class="fa fa-youtube fa-2x"></i>
    </a>

    <span class="divider"></span>

    <a
      ng-href="{{ vm.getAmazonUrl() }}"
      target="_blank"
      class="btn btn-secondary btn-sm">
      <i class="fa fa-amazon fa-2x"></i>
    </a>
  </p>

</div>
