/*
  Filename: main.css
  Author:   Masatoshi Nishiguchi
  Date:     November 16, 2015
*/


/**
 * Universal
 */


#main-container {
  padding-top: 30px;
}

/*
The shorthand property for background.
- background-color
- background-image
- background-repeat
- background-attachment
- background-position
 */
body {
  font-family: georgia, 'Times New Roman', times, serif;
  color: #FFFFFF;
  background: url(http://i.imgur.com/kVJs7Pb.jpg) repeat-y center bottom fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
       -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6, .logo {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h1 {
  font-size: 3.0em;
}

p {
  font-size: 1.3em;
  line-height: 1.6;
  color: #FFFFFF;
}

label {
  font-size: 1.3em;
}

hr {
  max-width: 400px;
  border-color: #999999;
}

.divider{
  margin: 0 8px 0 8px;
}

.divider:before {
  content: "|";
}


/*
  Top-navbar
 */


.navbar {
  padding: 18px 10px 5px 10px;
}

.logo {
  font-family: 'Merriweather', serif;
  font-size: 1.8em;
  font-weight: 900;
  color: #999999;
  float: left;
  letter-spacing: -1px;
  text-transform: uppercase;
          text-shadow: 1px 1px 2px #FFFFFF;
     -moz-text-shadow: 1px 1px 2px #FFFFFF;
  -webkit-text-shadow: 1px 1px 2px #FFFFFF;
}

.logo:hover {
  color: #999999;
  text-decoration: none;
}


/*
  Gravatar form
  - Display as table-cell
 */


.gravatar-form {
  display: table;
}

.gravatar-form > a {
  display: table-cell;
  padding-left: 5px;
}

.gravatarLink,
.gravatarLink img {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}

.gravatarLink:before {
  display: inline-block;
  content:'';
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
}


/*
  Tabs
 */


.nav-tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
}

.nav-tabs a {
  text-decoration: none;
  color: #DDDDDD;
}

.nav-tabs a:hover {
  color: #BBBBBB;
}

.nav-tabs a.active {
  color: #BBBBBB;
}


/*
  Page-content
 */


.container.page {
  padding-top: 20px;
  padding-bottom: 80px;
  background: rgba(0,0,0,.4);
  border-radius: 0 0 5px 5px;
}

.container.page h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container.page p {
  font-size: 1.2em;
  line-height: 1.5;
}

#index-author header {
  padding-bottom: 80px;
  text-align: center;
}

#index-author img {
  height: 200px;
  width: 200px;
  margin: 40px 0 0 0;
  border: 7px solid white;
  border-radius: 20px;
}

#index-author h4 {
  text-transform: uppercase;
  margin-top: 30px;
}

#index-author .icon_link {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 2.0em;
}


/*
  Movie search
 */


.movie-poster {
  padding: 20px 0;
}


/*
  Contact form
 */


.stars {
  display: inline-block;
}

.stars > i.fa-star {
  color: yellow;
}

.messageForm select.ng-invalid.ng-dirty,
.messageForm textarea.ng-invalid.ng-dirty {
  box-shadow: 0 0 5px #FA787E;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #FA787E;
}

.messageForm select.ng-valid.ng-dirty,
.messageForm textarea.ng-valid.ng-dirty {
  box-shadow: 0 0 5px #78FA89;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #78FA89;
}

.messageForm .form-help {
  color: #FA787E;
}


/*
  Footer
 */


footer {
  line-height: 3em;
  margin-top: 40px;
  padding-top: 5px;
  border-top: 1px solid #999999;
  color: #CCCCCC;
  clear: both;
}

footer small {
  float: left;
}
